<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost/hardcoders</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password"></property>
      <property name="hibernate.connection.pool_size">10</property>
      <property name="show_sql">true</property>
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
     
      <!-- Mapeamentos -->
      <mapping resource="hibernate/funcionario.hbm.xml"/>
      <mapping resource="hibernate/cliente.hbm.xml"/>
      <mapping resource="hibernate/empresa.hbm.xml"/>
      <mapping resource="hibernate/endereco.hbm.xml"/>
      <mapping resource="hibernate/telefone.hbm.xml"/>
      <mapping resource="hibernate/reclamacao.hbm.xml"/>
      <mapping resource="hibernate/servico.hbm.xml"/>
      <mapping resource="hibernate/solicitacao.hbm.xml"/>
      <mapping resource="hibernate/falha.hbm.xml"/>
      <mapping resource="hibernate/contrato.hbm.xml"/>
      <mapping resource="hibernate/pessoa.hbm.xml"/>
</session-factory>
</hibernate-configuration>